.sobremim {
    color: rgb(255, 0, 0)
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(2, 255, 255);
    background-color: rgb(38, 50, 126);
}

header {
    background-color: rgb(0, 100, 201);
    padding: 20px;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav ul {
    display: flex;
    gap: 25px;
  
}

nav ul li a {
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgb(38, 50, 126);}

button {
    padding: 20px 10px;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background-color: rgb(0, 0, 0);
    transition: 1s;
    transform: translatey(-2px)translateX(-2px);
}

@media (max-width:760px) {
    nav {
        flex-direction: column;
    }
}
nav ul{
    gap: 10px;
    margin-bottom: 10px;
}
.section1
{
    background-color: whitesmoke;
    
}